<link rel="import" href="../polymer/polymer-element.html">

<link rel="import" href="../sigespai-ficha-investigador-datos/sigespai-ficha-investigador-datos.html">
<link rel="import" href="../sigespai-ficha-investigador-proyectos/sigespai-ficha-investigador-proyectos.html">

<dom-module id="sigespai-ficha-investigador">
    <template>
        <style>
            :host {
                display: block;
            }

            .grid {
                display: grid;
                grid-template-columns: 1fr;
            }

            .section {
                box-shadow: 0px 10px 40px 0px rgba(1, 1, 1, 0.1);
                margin: 0 .5rem 3rem 0;
                padding: 1rem;
            }

            .titlePoyectos {
                padding: 2rem .5rem;
                font-size: 2rem;
            }
        </style>

        <div class="grid">
            <div class="grid-item">
                <div class="section">
                    <sigespai-ficha-investigador-datos nue="{{nue}}"></sigespai-ficha-investigador-datos>
                </div>
                <br />
                <br />
                <div class="section">
                    <sigespai-ficha-investigador-proyectos nue="{{nue}}"></sigespai-ficha-investigador-proyectos>
                </div>
            </div>
        </div>

        <br />
    </template>

    <script>
        class SigespaiFichaInvestigador extends Polymer.Element {
            static get is() { return 'sigespai-ficha-investigador'; }
            static get properties() {
                return {
                    nue: String
                }
            }
        }

        window.customElements.define(SigespaiFichaInvestigador.is, SigespaiFichaInvestigador);
    </script>
</dom-module>